<div class="exchange_box">
  <div class="card auto-max">
    <div class="card-body">
      <img class="card-img-top logo-box img-fluid" src="/logo.png" alt="Exchange">
      <div class="card-block">
        <%= form_tag("/exchange", method: "post", id: "exchange_form") do %>
          <div class="form-row align-items-end">
            <div class="form-group col-md-5">
              <label for="currency">Local</label>
              <%= select_tag "currency", options_for_select(currency_select, "BRL"), class: "form-control", id: "currency" %>
            </div>

            <div class="form-group col-md-2 ">
              <div class="row justify-content-center align-items-center">
                <%= link_to "#", remote: true do %>
                  <i id="invert-currency" class="fa fa-retweet fa-lg" aria-hidden="true" style="margin-bottom: 10px"></i>
                <% end %>
              </div>
            </div>

            <div class="form-group col-md-5">
              <label for="currency_destination">Pretendida</label>
              <%= select_tag "currency_destination", options_for_select(currency_select, "EUR"), class: "form-control", id: "currency_destination"%>
            </div>
          </div>  
          <div class="form-group">
            <input type="number" name="quantity" id="quantity" class="form-control" placeholder="Quantidade ($10)" step="any" required>
          </div>
          <div id="result" class="text-right">
            0.00
          </div>
        <% end %>
        <div id="alerts" class="text-right"></div>
      </div>        
    </div>
  </div>
</div>
