<div class="container text-secondary">
  <div class="row align-items-center justify-content-center">
    <div class="col-sm-4">
      <%= render "shared/exchange_box" %>
    </div>
    <div class="col-sm-8 text-center main-text">
      <h1>Converta facilmente suas Moedas</h1>
      <h2>Para qualquer moeda no Mundo!</h2>
    </div>
  </div>
</div>
