<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-3">

      <%= render "shared/exchange_box" %>
    </div>
    <div class="col-lg-9 text-center main-text">
      <h1>Converta facilmente suas Moedas</h1>
      <h2>Para qualquer moeda no Mundo!</h2>
    </div>
  </div>
</div>
