.logo-box {
  margin-bottom: 20px;
}
#result {
  font-size: 3em;
}

// set max/min width when display is greate than sm
@include media-breakpoint-up(sm) {
  .exchange_box {
    max-width: 300px;
    min-width: 300px;
  }
}