.logo-box {
  margin-bottom: 20px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

// set max/min width when display is greate than sm
@include media-breakpoint-up(sm) {
  .exchange_box {
    max-width: 300px;
    min-width: 300px;
  }
}